
.carousel {
  width: 100%;
  height: 100svh;
  position: relative;
  overflow: hidden;
}

.content {
  display: none;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-60%);
}

.item {
  z-index: 100;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 220px;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: ease;
  display: flex;
  position: absolute;
  top: 80%;
  left: 70%;
  transform: translateY(-70%);
  box-shadow: 4px 8px 10px #0003;
}

.item.bg-yellow {
  background-image: linear-gradient(225deg, #ffee57, #ffb930);
}

.item.bg-goldenrod {
  background-image: linear-gradient(225deg, #f2dbaf, #9c9344);
}

.item.bg-brown {
  background-image: linear-gradient(225deg, #ceb7b4, #b57049);
}

.item.bg-pink {
  background-image: linear-gradient(225deg, #fbc9c9, #cf3939);
}

.item.bg-purple {
  background-image: linear-gradient(225deg, #dcb7f2, #dcb7f2);
}

.title {
  opacity: 0;
  color: #000c;
  font-size: 5rem;
  line-height: 1;
  animation: 1s ease-in-out .3s forwards animate;
}

.description {
  opacity: 0;
  color: #000000b3;
  max-width: 45ch;
  font-size: 1rem;
  line-height: 1.4;
  animation: 1s ease-in-out .6s forwards animate;
}

.description.top-margin {
  margin-top: 16px;
}

.arrows {
  z-index: 100;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  display: flex;
  position: absolute;
  top: 85%;
  right: 50%;
  transform: translate(50%);
}

.nav-button {
  color: #e7e7e7;
  cursor: pointer;
  background-color: #0d0f0ecc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 0;
  transition: background-color .2s;
}

.nav-button:hover {
  color: #000;
  background-color: #fff;
}

.hero-img {
  width: 80%;
  position: absolute;
  top: 20%;
  right: 10%;
}

.hero-img.active {
  width: 40%;
}

@media screen and (max-width: 991px) {
  .content {
    top: 40%;
    left: 5%;
  }

  .title {
    font-size: 3.5rem;
  }

  .description {
    max-width: 30ch;
  }

  .hero-img {
    right: 5%;
  }

  .hero-img.active {
    width: 52%;
  }
}

@media screen and (max-width: 767px) {
  .content {
    top: 60%;
    left: auto;
  }

  .item {
    width: 170px;
    height: 150px;
    top: 88%;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: .8rem;
  }

  .arrows {
    top: 88%;
  }

  .hero-img {
    top: 10%;
    right: auto;
  }

  .hero-img.active {
    width: 95%;
  }
}

@media screen and (max-width: 479px) {
  .arrows {
    max-width: none;
  }
}